{% load staticfiles %}
<title> TEAMUP - Lina Li </title>

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<li><a href="logout">Logout</a></li>
<h1 id = "title"> TEAMUP </h1>

<div style="float: left; width: 50%;">
<ul>
<li class = "info">Your Information</li>
<li><a href="{% url 'polls:detail' 1 %}">Year</a></li>
<li><a href="{% url 'polls:detail' 2 %}">Type of App</a></li>
<li><a href="{% url 'polls:detail' 3 %}">Gender</a></li>
<li><a href="{% url 'polls:detail' 4 %}">skill</a></li>
<li><a href="{% url 'polls:detail' 5 %}">School</a></li>
<li><a href="{% url 'polls:detail' 6 %}">Constellation</a></li>

</ul>
</div>

<div style="float: right; width: 50%;">
<ul>
<li class = "info">Your preference</li>
<li><a href="{% url 'polls:detail' 1 %}">Year</a></li>
<li><a href="{% url 'polls:detail' 2 %}">Type of App</a></li>
<li><a href="{% url 'polls:detail' 3 %}">Gender</a></li>
<li><a href="{% url 'polls:detail' 4 %}">skill</a></li>
<li><a href="{% url 'polls:detail' 5 %}">School</a></li>
<li><a href="{% url 'polls:detail' 6 %}">Constellation</a></li>

</ul>
</div>
<div class="footerholder">
	<div class="footer" >
	Copyright © Lina Li 	Megan Chen</div>
	</div>
</div>
