{% load staticfiles %}

<html> 
<head>
    <title> TEAMUP - Lina Li </title>
    <link rel="stylesheet" type="text/css" href="/static/polls/register.css" />
</head>

<body>

<form action="" method="post">{% csrf_token %}  
    {% if form.errors %}  
    <p><center>Please correct the following fields: </center></p>  
    {% endif %}  
    <div class="register_div">  
        {% if form.username.errors %} <p class="error"><center> {{ form.username.errors }}</center> </p> {% endif %}  
        <p><center><label for="username" {% if form.username.errors %} class="error" {% endif %}>Username:</label></center></p>  
        <p><center>{{ form.username }}</center></p>  
    </div>  
    <div class="register_div">  
        {% if form.email.errors %} <p class="error"><center> {{ form.email.errors }} </center></p> {% endif %}  

        <p><center><label for="email" {% if form.email.errors%} class="error" {% endif %}>Email:</label></center></p>  

        <p><center>{{ form.email}}</center></p>  
    </div>  
    <div class="register_div">  
        {% if form.password.errors %} <p class="error"><center> {{ form.password.errors }} </center></p> {% endif %}  
        <p><center><label for="password" {% if form.password.errors %} class="error" {% endif %}>Password:</label></center></p>  
        <p><center>{{ form.password}}</center></p>  
    </div>  
    <div class="register_div">  
        {% if form.password1.errors %} <p class="error"> <center>{{ form.password1.errors }}</center> </p> {% endif %}  
        <p><center><label for="password1" {% if form.password1.errors %} class="error" {% endif %}>Verify Password:</label></center></p>  
        <p><center>{{ form.password1}}</center></p>  
    </div>   
    <div class="register_div">  
        {% if form.name.errors %} <p class="error"><center> {{ form.name.errors }} </center></p> {% endif %}  
        <p><center><label for="name" {% if form.name.errors %} class="error" {% endif %}>Name:</label></center></p>  
        <p><center>{{ form.name}}</center></p>  
    </div>  
    <p><center><input type="submit" value="register" alt="register"></center></p>  
</form>  
</body>
</html>
